
.main-sidebar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,488a99+100 */
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #488a99 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #333333 0%,#488a99 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #333333 0%,#488a99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#488a99',GradientType=0 ); /* IE6-9 */
  border-left-color: rgba(0, 0, 0, 1)!important;
}


.navbar {

 background: rgb(51,51,51);
background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(72,138,153,1) 41%, rgba(255,255,255,1) 100%);

}

.logo {
  background: rgb(51,51,51) !important;
}

.sidebar-toggle:hover {
  background-color: rgb(51,51,51)!important;
}



#power-off {
  color: rgb(51,51,51);
}


